download/
save/
data/
__pycache__/
venv/
frontend/node_modules/
frontend/.vite/
cookies/*
!cookies/.gitkeep

dl.txt
todolist.txt
.env
history.json
token.json

cli.gemini.cmd

module/cookies/*
chromeExtension/static/secret/*
app/ui/*
!app/ui/.gitkeep*.local.*
