.artwork-checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
}

#ns-export-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}